body { 
    margin-left: 8vw; 
    margin-right: 8vw; 
    background-image: url("") ; 
} 
 
* { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
} 
 
h1, 
h2, 
h3, 
li, 
p, 
ol, 
table, 
tr, 
td, 
th, 
address { 
    color: rgb(20, 18, 18); 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
